
  <%- include('layouts/header'); -%>
  <%- include('layouts/navbar'); -%>
  <div class="full-screen">
      <div class="dark-overlay">
        <div class="container login d-flex h-100 align-items-center">

            <div class="d-flex flex-column col-md-4 ol-md-6 p-4 mx-auto bg-light rounded">
                <h2 class="text-center my-heading">Fix & Track  <span class=""></span></h2>
                <a href="/users/login" class="my-2 btn btn-secondary btn-lg">Login</a>
                <a href="/users/create" class="my-2 btn btn-secondary btn-lg">Sign-up</a>
            </div>
        </div>
      </div>
  </div>
    <%- include('layouts/footer'); -%>
    <%- include('layouts/scripts'); -%> 
    
    <!-- /Users/michaelcorporan/mongodb/bin/mongod  --dbpath=/Users/michaelcorporan/mongodb-data -->