
  <%- include('layouts/header'); -%>
  <%- include('layouts/navbar'); -%>
  
<div class="container d-flex justify-content-around">
  
  <div class="col-md-4  d-flex align-items-center ">
    <div class="mx-auto ">
      <h1 class="display-5">CATA-LOGER</h1>
      <h5 class="">Groceries And Other Goods</h5>
      <a href="/catalog" class="btn btn-primary btn-block badge-pill btn-lg mt-3 my-btn-boxshadow">Browse</a>
    </div>
  </div>
  
  <div class="col-md-6 offset-md-1 d-none d-md-block bg-white">
    <div class="my-opacity"><img src="/images/cataloger_screenshot.jpg" class="img-fluid"></div>
  </div>
</div>
    <%- include('layouts/footer'); -%>
    <%- include('layouts/scripts'); -%> 
