
  <%- include('layouts/header'); -%>
  <%- include('layouts/navbar'); -%>
  
<div class="container d-flex justify-content-around">
  
  <div class="col-md-4  d-flex align-items-center ">
    <div class="mx-auto ">
      <h1 class="display-2 ">Cata<span class="font-weight-light">log</span></h1>
      <hr>
      <h3 class="text-center font-weight-light">Storage Software</h3>
      <a href="/catalog" class="btn btn-primary btn-block badge-pill btn-lg mt-3 my-btn-boxshadow">see items</a>
    </div>
  </div>
  
  <div class="col-md-6 offset-md-1 d-none d-md-block bg-white">
    <div class="my-opacity"><img src="/images/cataloger_screenshot.jpg" class="img-fluid"></div>
  </div>
</div>
    <%- include('layouts/footer'); -%>
    <%- include('layouts/scripts'); -%> 
